shamefully-hoist=true
strict-peer-dependencies=false
registry=http://120.79.37.227:4873/
ENTRYCLI_CDNURL=https://cdn.npm.taobao.org/dist/sentry-cli
sentrycli_cdnurl=https://cdn.npm.taobao.org/dist/sentry-cli
//120.79.37.227:4873/:always-auth=true
//120.79.37.227:4873/:_authToken="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJnYWxheHkiXSwibmFtZSI6ImdhbGF4eSIsImdyb3VwcyI6WyJnYWxheHkiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJnYWxheHkiXSwiaWF0IjoxNjg2Mjg5OTIyLCJuYmYiOjE2ODYyODk5MjIsImV4cCI6MTY4Njg5NDcyMn0.VLHp70kmjYqrypmd84ZQ4Gy9tBb2h8c8mCvfWX0ChNQ"
