// color
@color: #357FE2;
.c-357FE2 {
    color: @color;
}
.c-222 {
    color: #222;
}
.c-90 {
    color: #909090;
}

// flex
.d-flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.tc {
    text-align: center;
}

// margin
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}

// font
.fw-bold {
    font-weight: bold;
}
.fw-500 {
    font-weight: 500;
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16 px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}


