.van-tab {
  color: #888f98 !important;
}
.van-tabs__line {
  background: #198cff !important;
  border-radius: 16px !important;
  height: 6px !important;
}
.van-tab--active {
  color: #198cff !important;
  font-weight: 600 !important;
}

// 关闭深色模式
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
  }
}
